<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Sample Practice">

  <listeners>
  <listener class-name="com.freecrm.qa.ExtentReportListener.ExtentReporterNG"/>
  </listeners>

  <test name="Automation Test">
    <classes>
      <class name="com.freecrm.qa.testcases.LoginPageTest"/>
       <class name="com.freecrm.qa.testcases.HomePageTest"/>
        <class name="com.freecrm.qa.testcases.WomensPageTest"/>
      </classes>
  </test> 
</suite> 